@using MyRecipes.Common
@model MyRecipes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в @GlobalConstants.SystemName!</h1>
   <div class="col-md-4 offset-md-4">
    <p>Разполагаме с : </p>
       <ul>
           <li class="list-group-item bg-info">Рецепти: @Model.RecipesCount</li>
           <li class="list-group-item bg-info">Категории: @Model.CategoriesCount</li>
           <li class="list-group-item bg-info">Снимки: @Model.ImagesCount</li>
           <li class="list-group-item bg-info">Съставки: @Model.IngredientsCount</li>
       </ul>
   </div>
</div>
