@model AspNetAppForTestingRazor.ViewModels.Home.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Name</h1>
    <h2>It @Model.Year Year</h2>
    <p>Current registered users: @Model.UsersCount</p>
    <p>ProcessorCount @Model.ProcessorsCount</p>
    <p>Id: @Model.Id</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
