@using AspNetAppForTestingRazor.ViewModels.Home
@using AspNetAppForTestingRazor.Services
@using Microsoft.AspNetCore.SignalR
@inject IShortStringService ShortString
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebEnvironment
@*@inject IHtmlSanitizer Sanitizer*@
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<input type="datetime-local" class="form-control"/>

<partial name="_HomePageStart" />

<h1>@WebEnvironment.EnvironmentName</h1>
<form asp-action="Index">
    <textarea asp-for="Description"></textarea>
    <input asp-for="Name" class="form-control"/>
</form>

@*@Html.ActionLink("Privacy page", "Privacy", "Home", "https")
<hr />
@Html.EditorForModel()*@

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome, @User.Identity.Name</h1>
    }
    else
    {
        <h1 class="display-4">Welcome, @Model.Name</h1>
    }

    <h2>It @Model.Year Year</h2>
    <p>Current registered users: @Model.UsersCount</p>
    <p>ProcessorCount @Model.ProcessorsCount</p>
    <p>Id: @Model.Id</p>
    <p>Description: @ShortString.GetShort(Model.Description, 100)</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<!--@await Html.PartialAsync("_HomePageStart")-->
@*@Html.Partial("_HomePageStart")*@



<table bootstrap-table="" table-name="Digits table">

    @for (int i = 0; i < 5; i++)
    {
        <tr><td>@(i+1)</td></tr>
    }
</table>

@section Links{
    <li class="nav-item">
        <a class="nav-link text-white" href="https://google.com">Google</a>
    </li>
}

<!--HTML Encoding /> HTML Entities -->
List&lt;string&gt;
