@model MyRecipes.Web.ViewModels.Recipes.RecipesListViewModel
@{
    this.ViewData["Title"] = "Всички рецепти - " + Model.PageNumber + "стр.";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach (var recipe in this.Model.Recipes)
    {
        <div class="media col-md-4">
            <img src="@recipe.ImageUrl" width="100px" class="mr-3 img-responsive">
            <div class="media-body">
                <h5 class="mt-0">@recipe.Name</h5>
                @recipe.CategoryName
                <p></p>
            </div>
        </div>
        <hr />
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
