@model MyRecipes.Web.ViewModels.Recipes.RecipesListViewModel
@{
    this.ViewData["Title"] = "Всички рецепти - " + Model.PageNumber + "стр.";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach (var recipe in this.Model.Recipes)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><a asp-action="ById" asp-route-id="@recipe.Id"/>@recipe.Name</h5>
                <p class="page-link" asp-action="All" asp-route-id="@recipe.CategoryId">Категория - @recipe.CategoryName</p>
                    <a href="#" class="btn btn-primary">Рецепта</a>
                <a href="#" class="btn btn-primary">Снимки</a>
            </div>
        </div>

        @*<div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>*@

        @*<div class="media col-md-4">
            <img class="mr-3 img-responsive" src="@recipe.ImageUrl" width="100px">
            <div class="media-body">
                <h5 class="mt-0">@recipe.Name</h5>
                @recipe.CategoryName
                <p></p>
            </div>
        </div>*@
        <hr />
    }
</div>
<hr />
<partial name="_PagingPartial" model="@Model" />
