@model MyRecipes.Web.ViewModels.Recipes.SingleRecipeViewModel

@{
    this.ViewData["Title"] = Model.Name;
}

<div class="single-recipe-layout1">
    <div class="ctg-name">@this.Model.CategoryName</div>
    <h2 class="item-title">@this.ViewData["Title"]</h2>
    <div class="row mb-4">
        <div class="col-xl-9 col-12">
            <ul class="entry-meta">
                <li class="single-meta">
                    <i class="far fa-calendar-alt"></i> @this.Model.CreatedOn.ToShortDateString()
                </li>
                <li class="single-meta">
                    <i class="fas fa-user"></i> by<span>
                        @if (string.IsNullOrWhiteSpace(this.Model.CreatedByUserUserName))
                        {
                            <a href="@Model.OriginalUrl" target="_blank">recepti.gotvach.bg</a>
                        }
                        else
                        {
                            <span>@this.Model.CreatedByUserUserName</span>
                        }
                    </span>
                </li>
                <li class="single-meta">
                    <ul class="item-rating">
                        <li class="star-fill" style="cursor: pointer;" data-vote="1"><i class="fas fa-star"></i></li>
                        <li class="star-fill" style="cursor: pointer;" data-vote="2"><i class="fas fa-star"></i></li>
                        <li class="star-fill" style="cursor: pointer;" data-vote="3"><i class="fas fa-star"></i></li>
                        <li class="star-fill" style="cursor: pointer;" data-vote="4"><i class="fas fa-star"></i></li>
                        <li class="star-fill" style="cursor: pointer;" data-vote="5"><i class="fas fa-star"></i></li>
                        <li>
                            <span id="averageVoteValue">
                                @if (Model.AverageVote % 1 == 0)
                                {
                                    @Model.AverageVote
                                }
                                else
                                {
                                    @Model.AverageVote.ToString("0.0")
                                }
                            </span><span>/ 5</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="item-figure">
        <img class="conta-fluid w-100" style="width: 26rem" ; src="@this.Model.ImageUrl" alt=@Model.Name>
    </div>
    <hr />
    <div class="item-feature">
        <ul>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Време за приготвяне</div>
                            <div class="feature-sub-title">@this.Model.PreparationTime</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            @*<i class="fas fa-utensils"></i>*@
                            <i class="far fa-hourglass"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Време за готвене</div>
                            <div class="feature-sub-title">@this.Model.CookingTime</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">Порции</div>
                            <div class="feature-sub-title">@this.Model.PortionCount</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title"> Рецепти в категорията</div>
                            <div class="feature-sub-title">@Model.CategoryRecipesCount</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="making-elements-wrap">

        <div class="row">
            <div class="col-md-6">
                <h3 class="item-title"><i class="far fa-file-alt"></i>Начин на приготвяне</h3>
                <p class="item-description">
                    @this.Model.Instructions
                </p>
            </div>
            <div class="col-md-6">
                <div class="ingridients-wrap">
                    <h3 class="item-title"><i class="fas fa-list-ul"></i>Съставки</h3>
                    @foreach (var ingredient in this.Model.Ingredients)
                    {
                        <div class="checkbox checkbox-primary">

                            <label for="checkbox2">@ingredient.IngredientName - @ingredient.Quantity</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var recipeId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { recipeId: recipeId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote % 1 == 0 ? data.averageVote : data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}
